doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    header
      h1 Qlik Sense On-Demand Flash Apps
    #intro
      h3. 
        Together with Qlik Sense you can create applications on the fly. Based on external inputs we can tailor the available data that will be loaded into memory. 
        Data on only exists in-memory during the session to optimize performance and to scale cost effiencly while still bringing you all the features of Qlik you love such as row level security and data association.
    #container

    script.
      var users = !{JSON.stringify(users)}
    script(src='/jquery/dist/jquery.min.js')
    script(src='/javascripts/main.js')